version: 2.1
orbs:
  codecov: codecov/codecov@1.0.5
executors:
  java-executor:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

  java-db-executor:
    docker:
      - image: circleci/openjdk:8-jdk
      - image: circleci/postgres:11.5-ram
        environment:
          POSTGRES_USER: wallet_service_test
          POSTGRES_DB: wallet_service_test
          POSTGRES_PASSWORD: password
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

commands:
  gradle-dependencies:
    steps:
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle.kts" }}
            - v1-dependencies-
      - run: ./gradlew dependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle.kts" }}

jobs:
  test:
    executor: java-db-executor
    steps:
      - checkout
      - gradle-dependencies

      - run:
          name: Run all tests
          command: ./gradlew test
      - run:
          name: Generate test coverage report
          command: ./gradlew jacocoTestReport
      - run:
          name: Verify test coverage minimum limit
          command: ./gradlew jacocoTestCoverageVerification
      - codecov/upload:
          file: build/reports/jacoco/report.xml

  codeQuality:
    executor: java-executor
    steps:
      - checkout
      - gradle-dependencies
      - run:
          name: Kotlin linter
          command: ./gradlew ktlinCheck
      - run:
          name: Run code quality check
          command: ./gradlew detekt

  deploy:
    executor: java-db-executor
    steps:
      - add_ssh_keys:
          fingerprints:
            - "96:2c:54:e3:52:7c:c8:89:e3:0f:58:44:d8:be:71:fb"
      - checkout
      - gradle-dependencies

      - run: ./gradlew build
      - run:
          name: Copy docs to static resources
          command: ./gradlew copyDocs
      - run:
          name: Push new docker image
          command: ./gradlew jib

workflows:
  version: 2.1
  testAndDeploy:
    jobs:
      - test
      - codeQuality
      - deploy:
          requires:
            - test
            - codeQuality
#          filters:
#            branches:
#              only: master
